<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fotorol</title>
  </head>
  <body>
    <h1>Welcome to fotorol!</h1>
    <p>Here is a smiling doggo:</p>
    <img src="https://textimages.us/hello/hello04/hello-047.jpg" alt="">
  </body>
</html>
